.root-container{
  display: block;
}

.mods-header{
  font-size: 30px;
  margin: 0px;
}

.mods-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.clickable-container {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  width: 144px;
}

.clickable-container:hover {
  background-color: rgb(238, 226, 57);
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-image {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 25%;
  height: auto;
}

.hero-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 120%;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
